@import url('https://fonts.googleapis.com/css?family=Handlee|Raleway:300');

$gray1:  #555;
$gray2:  #999;
$gray3:  #aaa;
$gray4:  #ccc;
$gray5:  #eaeaea;
$gray6:  #f1f1f1;
$gray7:  #f8f8f8;
$blue:   #1E76D4;
$blue2: $blue * 0.9;


table.ic4f-projects td {
  padding: 6px;
}

.tmpScreenLink {
  color: $blue2;
}
.tmpScreenLinkMore {
  color: #666;
  font-size: 0.7em;
  display: block;
  margin:0px;
  padding: 0;
  line-height: 1em;
}

.tmpScreenThumb {
  width:65px;
  margin: 5px;
}

.tmpScreenCell {
  white-space: nowrap;
  text-align:center;
}



.ic4f-logo-row {
  margin-top: 0px;
}

.ic4f-contact-row {
  text-align: right;
  margin-top: 8px;
  visibility: hidden; /* TODO */

  a {
    color: $gray3;
    display: inline-block;
    font-size: .8rem;
    padding: 0 10px 0 0;
    margin: 0;
  }
  a:hover {
    color: $blue;
  }
}



.ic4f-logo-row {

  a.ic4f-logo {
    font-size: 3rem;
    color: #999;
  }

  a.ic4f-logo:hover {
    text-decoration: none;
    color: $blue;
  }


  .part {
    font-size: .7rem;
  }

  .part-c {
    color: $blue * .9;
    opacity: .8;
  }

  .part-ode {
    @extend .part;
    margin-left: -1px;
    margin-right: -5px;
    color: $blue * .9; 
  }

  .part-dot {
    @extend .part;
    margin-left: -3px;
  }
  
  .part-un {
    @extend .part;
    margin-left: -3px;
  }
}

.ic4f-nav {
/*  font-family: 'Raleway', sans-serif; */
  font-size: 1.1rem;
  padding: 0;
  text-align: right;
  margin-top:10px;

  a {
    color: #aaa;
    margin: 0;
    padding: .2rem .5rem;
    text-decoration: none;
  }
  a:hover {
    color: $blue;
    background: #f1f1f1;
    border-top: 1px solid $gray5;
  }
  a.active {
    color: $blue;
    font-weight: normal;
  }
  a.active:hover {
  }
}





body {
  color: $gray1;
  font-family: verdana, sans-serif;
  font-size: .95rem;
  line-height: 1.4rem;
}

.ic4f-container {}
.ic4f-main-heading {}


.ic4f-hline {
  background: $gray5;
  height: 1px;
}

.ic4f-content {
  margin-bottom: 1rem;
  margin-top: 1.8rem;

  img {
    border: 1px solid $gray2;
  }
}

.ic4f-footer {
  color: $gray2;
  font-size: .8rem;
  padding-bottom: 1.5rem;
  padding-top: .7rem;
  text-align: right;
}




h1 {
  color: #444;
  font-size: 1.6rem;
}

h2 {
  @extend h1;
  font-size: 1.3rem;
}

h3 {
  @extend h1;
  font-size: 1.1rem;
}

h4, h5, h6 {
  @extend h1;
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}


.ic4f-blog-date {
  color: $gray2;
  font-size: .8rem;
  margin: -10px 0 5px 0;
}

.ic4f-blog-list-date {
  color: $gray2;
  font-size: .8rem;
  margin-bottom: 0;
  line-height: 1rem;
}

.ic4f-blog-list-excerpt {
  font-size: .9rem;
}

.ic4f-blog-list-more {
  font-size: .8rem;
}

.ic4f-blog-list-title {
  font-size: 1.1rem;
  margin: 0;

  a {
    color: $blue;
  }
  a:hover {
    color: red; 
  }
}

.ic4f-blog-sidebar {

  h2 {
    font-size: 1rem;
    color: $gray2;
  }

  ul {
    font-size: .8rem;
    line-height: 1rem;
    padding-left: 1.1rem;
  }

  li {
    margin-bottom: .5rem;

    a.active {
      color: $blue;
    }
    a.active:hover {
      color: red;
    }
  }

  li:last-child {
    list-style: none;

    a {
      color: $gray2;
    }
    a:hover {
      color: $blue;
    }
  }
}


