        </div>
      </div>
    </div>
    
    <div class="ic4f-hline"></div>
    
    <div class="container ic4f-container">
      <div class="row">
        <div class="col ic4f-footer">
          Site modified:...
        </div>
      </div>
    </div>
    
    <div id="modal">
      <img id="modal-img" alt="" src="#">
      <div id="modal-caption"></div>
    </div>

    <%- include('footer-js.ejs') %>
  </body>
</html>
