<%- include('includes/layout-header.ejs') %>



<%= content %>

<p class="ic4f-blog-list-date">October 20, 2017</p>
<p class="ic4f-blog-list-title"><a href="/blog/2017/10/planting-science/">Week 5 of Planting Science program</a></p>
<p class="ic4f-blog-list-excerpt">It has been 5 weeks of Planting Science program and my online mentorship of high school
students teams in their plant investigations.
  <a class="ic4f-blog-list-more" href="/blog/2017/10/planting-science/">...read more</a></p>

<p class="ic4f-blog-list-date">October  4, 2017</p>
<p class="ic4f-blog-list-title"><a href="/blog/2017/10/invasive-species/">New (or old?) mode of transport for invasive species</a></p>
<p class="ic4f-blog-list-excerpt">Carlton et al. Science 29 Sep 2017:

”..We document 289 living Japanese coastal marine species from
16 phyla transported over 6 years on objects that traveled thousands of kilometers across the
Pacific Ocean
  <a class="ic4f-blog-list-more" href="/blog/2017/10/invasive-species/">...read more</a></p>

<p class="ic4f-blog-list-date">July 29, 2017</p>
<p class="ic4f-blog-list-title"><a href="/blog/2017/07/another-trip-to-colorado/">Yet another trip to Colorado</a></p>
<p class="ic4f-blog-list-excerpt">Last week I spent in Colorado Springs at the Digging Deeper Summer Professional Development workshop
which is part of my Planting Science fellowship I received earlier this year.
  <a class="ic4f-blog-list-more" href="/blog/2017/07/another-trip-to-colorado/">...read more</a></p>

<p class="ic4f-blog-list-date">May 10, 2017</p>
<p class="ic4f-blog-list-title"><a href="/blog/2017/05/genbank/">Our GenBank submission has just been approved!</a></p>
<p class="ic4f-blog-list-excerpt">Our GenBank submission has just been approved! Here it is:
  <a class="ic4f-blog-list-more" href="/blog/2017/05/genbank/">...read more</a></p>

<p class="ic4f-blog-list-date">April 21, 2017</p>
<p class="ic4f-blog-list-title"><a href="/blog/2017/04/student-posters/">Three poster presentations of my students. Great job, guys!</a></p>
<p class="ic4f-blog-list-excerpt">Today my students presented their molecular biology term projects at 4th Annual Grand View
Scholarship Symposium. Very exciting!
  <a class="ic4f-blog-list-more" href="/blog/2017/04/student-posters/">...read more</a></p>

<p class="ic4f-blog-list-date">March 10, 2017</p>
<p class="ic4f-blog-list-title"><a href="/blog/2017/03/paper-published/">Paper published in Insects!</a></p>
<p class="ic4f-blog-list-excerpt">My paper from my postdoctoral work has been just published in Insects, in special issue “Invasive
insect species
  <a class="ic4f-blog-list-more" href="/blog/2017/03/paper-published/">...read more</a></p>




<%- include('includes/layout-footer.ejs') %>
