<%- include('includes/layout-header.ejs') %>

      <p class="ic4f-blog-date">– <%= dateFormat(post.date, 'mmmm d, yyyy') %></p>
      <%- post.body %>




<%- include('includes/layout-footer.ejs') %>

