<%- include('includes/layout-header.ejs') %>



<table class="table table-bordered">
  <tr>
    <th>#</th>
    <th>project name</th>
    <th>description</th>
    <th>years</th>
    <th>languages</th>
    <th>frameworks</th>
    <th>database</th>
    <th>status</th>
    <th>github</th>
  </tr>



  <tr>
  <td class="text-center">1</td>

  
    <td><strong>Kronofoto</strong></td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
  </tr>

  


  <tr>
  <td class="text-center">2</td>

  
    <td>icode4.fun</td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
  </tr>

  


  <tr>
  <td class="text-center">3</td>

  
    <td>alinaavanesyan.com</td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
  </tr>

  


  <tr>
  <td class="text-center">4</td>

  
    <td><strong>Avocado research email collection</strong></td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
  </tr>

  


  <tr>
  <td class="text-center">5</td>

  
    <td>Camp Adventure IYC</td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
  </tr>

  


  <tr>
  <td class="text-center">6</td>

  
    <td><strong>Camp Adventure MyCAccess</strong></td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
  </tr>

  


  <tr>
  <td class="text-center">7</td>

  
    <td><strong>code generator</strong></td>
  

  <td></td>
  <td></td>
  <td>Python, HTML, SASS, YAML, JavaScript</td>
  <td>.Net, Bootstrap</td>
  <td>MySQL</td>
  <td></td>
  <td></td>
</tr>

</table>


<%- include('includes/layout-footer.ejs') %>

